@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Silkscreen&display=swap');

.vertical-nav{
    padding-top: 15rem;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
.nav-item{
    font-family: 'Silkscreen', sans-serif;
    color: #3578ff;
}
.page-content{
    width: calc(100% -17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}
#sidebar.active{
    margin-left: -17rem;
}
#content.active{
    width: 100%;
    margin: 0;
}
.text-uppercase{
    letter-spacing: 0.1em;
}
.resume-box{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    border-top: solid;
    border-bottom: solid;
}
.printer{
    width: 55px;
}
.resume-left{
    grid-column-start: 0;
    grid-column-end: 1;
    padding-right: 1em;
}
.resume-right{
    grid-column-start: 1;
    grid-column-end: 2;
}
.resume-header{
    font-family: 'PT Serif', serif;
    font-size: 2em;
}
.resume-link{
    font-family: 'Silkscreen', sans-serif;
    font-size: 2;
}
.company-header{
    padding-top: 1em;
    font-family: 'PT Serif', serif;
    font-size: 2.5em;
}
.company-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.company-heading-text{
    display: flex;
    flex-direction: column;
}
.company-logo{
    display: block;
    object-fit: contain;
    height: auto;
    flex-shrink: 0;
}
.qworks-logo{
    width: 150px;
}
.mindgate-logo{
    width: 120px;
}
.company-subheader{
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.2em;
    padding-bottom: 2em;
}
.company-body{
    font-family: 'Silkscreen', sans-serif;
    padding-bottom: 2em;
}

@media only screen and (max-width:690px){
    #sidebar{
        margin-left: -17rem;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #content{
        width: 100%;
        margin: 0;
    }
    #content.active{
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

@media only screen and (max-width:500px){
    .company-info{
        gap: 0.8rem;
    }
    .qworks-logo{
        width: 120px;
    }
    .mindgate-logo{
        width: 95px;
    }
    .company-header{
        font-size: 2em;
    }
    .company-subheader{
        font-size: 1em;
    }
    .company-body{
        font-size: small;
    }
    .resume-header{
        font-size: 1.5em;
    }
    .printer{
        width: 50px;
    }
    .resume-link{
        font-size: small;
    }
}

@media only screen and (max-width:405px){
    .company-info{
        gap: 0.6rem;
    }
    .qworks-logo{
        width: 95px;
    }
    .mindgate-logo{
        width: 75px;
    }
    .company-header{
        font-size: 1.7em;
    }
    .company-subheader{
        font-size: 0.8em;
    }
    .company-body{
        font-size: x-small;
    }
    .resume-header{
        font-size: 1.2em;
    }
    .printer{
        width: 40px;
    }
    .resume-link{
        font-size: x-small;
    }
}

@media only screen and (max-width:280px){
    .company-info{
        gap: 0.5rem;
    }
    .qworks-logo{
        width: 70px;
    }
    .mindgate-logo{
        width: 55px;
    }
    .company-header{
        font-size: 1em;
    }
    .company-subheader{
        font-size: 0.5em;
    }
    .company-body{
        font-size: xx-small;
    }
    .resume-header{
        font-size: 1em;
    }
    .printer{
        width: 30px;
    }
    .resume-link{
        font-size: xx-small;
    }
}